<header>
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2062.742 153.94">
      <defs>
        <style>
          .a {
            font-size: 125.557px;
            font-family: Impact;
          }
          .b {
            fill: #c1272d;
          }
        </style>
      </defs>
      <text class="a" transform="translate(0 112.436)">
        Markt der
        <tspan class="b" x="515.103" y="0">#Wirbleiben</tspan>
        <tspan x="1168.638" y="0">Un</tspan>
        <tspan class="b" x="1302.962" y="0">sichtbar</tspan>
        <tspan x="1736.036" y="0">keiten</tspan>
      </text>
    </svg>
  </div>

  <nav id="menu">nav</nav>
</header>
