{{ define "main" }}
<div class="intro">
    <p>Im Jahr 2020 hat sich der Freie Bühne Jena e.V. das Thema <span class="title-font">Unsichtbarkeit</span> zum
        Gegenstand der künstlerischen Auseinandersetzung gewählt. Im Probenprozess sind viele verschiedene Produktionen
        entstanden.</p>
    <p>Diese wollen wir nun noch einmal Revue passieren lassen und eine Auswahl an Ergebnissen und eine neue
        Überraschungen präsentieren. Denn auch wir waren und sind von Unsichtbarkeit bedroht...</p>
</div>
<nav class="projects-nav">
    <ul class="circles">
    {{ range .Pages }}
        <li>
    <a class="projects-nav-item" href="{{ .RelPermalink }}"
       style="background-image: url('{{ if .Params.image }}{{ .RelPermalink }}{{ end }}{{ with .Params.image }}{{ . }}{{ else }}/img/placeholder_abstract.jpg{{ end }}')">
        <h2>{{- .Title -}}</h2>
    </a>
        </li>
    {{ end }}
    </ul>
</nav>
{{ end }}
