{{ define "main" }}

{{ .Content }}

<section class="section-a">
    <div class="video-group">

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
</section>

<section class="section-b">
    <div class="cards-container">
        <div class="card">
            <img src="../../img/placeholder.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h3 class="person-name">Marina Schmidt</h3>
                <p class="person-info">Studentin</p>
            </div>
        </div>

        <div class="card">
            <img src="../../img/placeholder.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h3 class="person-name">Sonya Waleska</h3>
                <p class="person-info">Künstlerin</p>
            </div>
        </div>

        <div class="card">
            <img src="../../img/placeholder.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h3 class="person-name">Marion Hummels</h3>
                <p class="person-info">Künstlerin</p>
            </div>
        </div>
    </div>
</section>
{{ end }}
