{{ define "main" }}

<section class="section-a">
    <h2>{{ .Title }}</h2>
    {{ .Content }}
</section>

<section class="section-a" style="display: none">
    <h3>Worum es geht</h3>
    <div class="video-group">

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
</section>

<section class="section-b">
    <h3>Die Kandidat*innen</h3>
    <div class="cards-container">
        {{range .Params.resources}}
            <div class="card">
                <video controls>
                    <source src="{{.video}}">
                </video>
                <div class="container">
                    <h4 class="person-name">{{.name}}</h4>
                </div>
            </div>
        {{end}}
    </div>
</section>

<section class="section-a">
    <h3>Die Videos</h3>
    <div class="video-group">

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/d4FM0mITAx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
</section>

{{ end }}
