{{ define "main" }}

<h2 class="page-title">{{ .Title }}</h2>
{{ .Content }}

<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range (readDir "/content/gedenken-an-die-novemberpogrome/img/") }}
        <div class="swiper-slide">
            <img src="/gedenken-an-die-novemberpogrome/img/{{- .Name  -}} " alt="">
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


{{ end }}
