{{ define "main" }}

<h2 class="page-title">{{ .Title }}</h2>
{{ .Content }}

<div class="swiper-container november">
    <div class="swiper-wrapper">
        {{ with .Resources.ByType "image" }}
        {{ range . }}
        <div class="swiper-slide">
            <figure>
                <img src="{{ .RelPermalink }}" alt="{{ with .Exif.Tags.ImageDescription }}{{.}}{{ end }}">
                <figcaption><p>&copy; {{ with .Exif.Tags.Copyright }}{{.}}{{else}}Tina Peißker{{ end }}</p></figcaption>
            </figure>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

{{ end }}
