{{ define "main" }}

<article class="candidates-wrapper">
    <section class="candidates-title">
        <h2>{{ .Title }}</h2>
        <article class="candidates-description">{{ .Content }}</article>
    </section>
    <div class="candidates-content">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ range .Params.posts}}
                <div class="swiper-slide">
                    {{ with .img }}
                    <img src="{{- . -}}" alt="">
                    {{ end }}
                    {{ with .video }}
                    <video controls>
                        <source src="{{ . }}" type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="slider-nav-wrapper">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>


    </div>
</article>
{{ end }}
