#main-header {
  z-index: 3;
  display: flex;
  align-items: center;
  margin: 0;
  position: fixed;
  background: var(--white);
  left: 0;
  right: 0;
  height: var(--header-height);
  transition: height 450ms;

  @include breakpoint($passepartout-breakpoint) {
    justify-content: center;
    left: var(--passepartout);
    right: var(--passepartout);
  }

  &.sticky {
	height: var(--header-fixed-height);
    box-shadow: 1px 3px 12px -2px grey;
	left: 0;
    right: 0;

    .fb-logo {
      margin-right: var(--passepartout);
    }
  }
}

.logo {
  display: flex;

  @include breakpoint($passepartout-breakpoint) {
    transform: translateX(.5rem);

    .sticky & {
      transform: translateX(2.5rem);
    }
  }

  svg {
    width: 100%;
    height: 100px;

    .cls-1 {
      fill: var(--petrol);
    }

    path {
      transition: fill 250ms, transform 750ms;
    }

    #first {
      path {
        fill: var(--fb-dark);
      }
    }

    #second {
      path {
        fill: transparent;
      }
    }

    #sichtbar {
      path {
        transform: translateX(-34rem);
      }
    }

    #un-keiten {
      path {
        transform: translateX(-34rem);
      }
    }

    .der {
      //transform: translateX(-2px);
    }
  }

  &:hover, &:focus, .sticky & {
    svg {
      #first {
        path {
          fill: transparent;
        }
      }

      #second {
        path {
          fill: var(--fb-dark-blue);
          transform: translateX(-28rem);
        }
      }

      #sichtbar {
        path {
          transform: translateX(-36.5rem);
        }
      }
    }
  }
}

.fb-logo {
  position: absolute; // relative to body
  top: 1rem;
  right: -.125rem;
  display: block;
  width: 8rem;

  .background-fb-logo {
    fill: var(--fb-green);
  }

  .cls-2 {
    fill: var(--fb-dark);
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-4 {
    fill: var(--fb-pink);
  }

  .cls-5 {
    fill: var(--fb-blue);
  }

  svg {
    polygon {
      transition: transform 1150ms;
      transform-origin: 50% 50%;
    }
  }

  &:hover, &:focus, .sticky & {
    svg {
      #rad {
        polygon {
          transform: rotate(90deg);
          transform-origin: 50% 50%;
        }
      }
    }
  }
}


