html {
  font-size: 16px;
  --h1: 2.5rem;

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }
  @include breakpoint(large) {
    --h1: 3.08333vw;
    --h2: 3.83333vw;
    --h3: 2.33333vw;
  }
  --h4: 1.5vw;
  --h5: 1rem;
  --h6: 1rem;
}

body {
  color: var(--dark-blue);
  font-size: 1.125rem;
  line-height: 1.5;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--fb-dark);
    .dark & {
      color: var(--white);

      &.page-title {
        color: var(--petrol);

        @include breakpoint(xlarge) {
          font-size: 8rem;
		  line-height: 1.15;
          //text-align: left;
        }
      }
    }

    font-size: var(--h#{$i});
	font-family: 'Agency FB Bd Cond', "Helvetica Neue", sans-serif;
    font-weight: normal;
    text-align: center;
  }
}

.title-font {
  font-family: 'Agency FB Bd Cond', "Helvetica Neue", sans-serif;
  font-weight: normal;
}

p {
  @include inner-margins;
  font-family: 'Mada', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  .dark & {
    color: var(--white);
  }

  @include breakpoint(xlarge) {
    font-size: 3.75rem;
    line-height: 1.25;
  }
}

main {
  @for $i from 1 through 6 {
    h#{$i} {
      @include inner-margins;
    }
  }
}
