html {
  --fb-green: #48bd9d;
  --fb-dark: #231f20;
  --fb-pink: #f397ac;
  --fb-blue: #00aeef;
  --white: #fff;

  --darkred: rgb(138,16,2);
  --petrol: rgb(79, 183, 152);
  --back: #ffe9d9;

  --passepartout: 4rem;

  height: 100%; // Take the footer to the bottom

  @include breakpoint($passepartout-breakpoint) {
    padding: 0 var(--passepartout);
    background-color: white;
  }
}

body {
  // Site structure
  display: grid;
  height: 100%; // Take the footer to the bottom
  grid-template-rows: auto 1fr auto; // rows: header, main, footer
  margin: 0;
  position: relative;

  @include breakpoint(xxlarge) {
  }

}

header, footer {
  @include simpleGrid;
}

main {
  border-radius: $border-radius;
  background-color: var(--back);

  .inner-grid {
    @include simpleGrid;
  }

  .intro {
    padding-top: 2rem;
    color: white;
  }
}

img {
  max-width: 100%;
}

.divider-w-text {
  background-color: var(--fb-dark);
  h1, h2, a {
    color: #404040;
  }
}

.divider {
  .a {
    transition: fill 450ms;
    fill: var(--fb-dark);
  }

  &:hover {
    .a {
      fill: var(--back);
    }
  }
}


.projects-nav {
  display: grid;
  padding: 1rem;
  @include breakpoint($passepartout-breakpoint) {
    grid-template-columns: repeat(5, 1fr);
  }

  .projects-nav-item {
    font-family: 'Agency FB Bd Cond', "Helvetica Neue", sans-serif;
    font-size: 3rem;
	line-height: 1.15;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15rem;
    border-radius: $border-radius;
    text-transform: capitalize;
	opacity: 0.3;
	transition: opacity 450ms, transform 450ms;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

     h2 {
       color: white;
     }

    &:hover, &:focus, #main-header.sticky + main & {
      opacity: 1;
    }
    &:hover, &:focus {
      transform: translate(2px, 1px);

      h2 {
        background-color: var(--fb-dark);
      }
	}
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border-radius: $border-radius;

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}


.video-group {
  @include inner-paddings;
  display: grid;
  grid-gap: 2rem;

  @include breakpoint(xxlarge) {
	grid-template-columns: repeat(3, 1fr);
  }
}
