$global-font-size: 16px;

@import "foundation";
@import "color";

$breakpoints: (
        small: 0,
        medium: 640px,
        large: 768px,
        xlarge: 1088px,
        xxlarge: 1520px,
        xxxlarge: 1920px,
        xxxxlarge: 2208px,
);

@import "typography";
@import "ground";
@import "header";
@import "navigation";
@import "footer";

