html {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  --h1: 2.5rem;
  @include breakpoint(large) {
    --h1: 2.08333vw;
  }
  --h2: 1.83333vw;
  --h3: 1.33333vw;
  --h4: 1.5vw;
  --h5: 1rem;
  --h6: 1rem;
}

body {
  color: var(--dark-blue);
  font-size: 1.125rem;
  line-height: 1.5;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: var(--light-blue);
    font-size: var(--h#{$i});
  }
}

nav {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
